@{
    ViewBag.Title = "Home";
}

<link href="@Url.Content("~/Content/zaks_custom_css.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron" id="jumbotron_with_image" style="background-image:url(@Url.Content("~/Content/Images/bar-jumbotron-large.jpg")">
    <h1 id="semi_transparent_text_background">Beverage Manager</h1>
    <div style="display:block"></div> <!-- Div here to keep this sandwich from sliding together -->
    <p class="lead" id="semi_transparent_text_background">Manage your list of beverages quickly and easily.</p>
    
    <p><a href="http://asp.net" class="btn btn-primary btn-sm" style="text-shadow:none">Start Managing &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2 id="text_pop" style="color:darkcyan;">Add Beverages</h2>
        <p>
            This program allows you to do fancy things like create beverages and add them to a database. Oh man.
        </p>
        <a href="@Url.Action("Create", "Beverages")" class="btn btn-default">Create a Beverage</a>
    </div>

    <div class="col-md-4">
        <h2 style="color:crimson;">Remove Beverages</h2>
        <p>Don't like what you added? You can remove it. That's a feature, too.</p>
        <a href="@Url.Action("Index", "Beverages")" class="btn btn-default">Remove a Beverage</a>
</div>

    <div class="col-md-4">
        <h2 style="color:#444BFF">Search Beverages</h2>
        <p>Look through all of the beverages in the database, and even search by their properties. Useful.</p>
        <a href="@Url.Action("Index", "Beverages")" class="btn btn-default">Search for a Beverage</a>
    </div>
</div>